.task {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    background-color: #2f2f30;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.checkContainer {
    width: 18px;
    height: 18px;
    background: none;
    border: none;
}

.checkContainer svg {
    background-color: transparent;
    color: #1ed760;

}

.task div {
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #1ed760;
}


.title {
    white-space: pre-wrap;
    width: 84%;
    font-size: 90%;
}

button {
    background: transparent;
    border: none;
}

.textCompleted {
    color: #808080;
    text-decoration: line-through;
    white-space: pre-wrap;
    width: 84%;
    font-size: 90%;
}


.delete {
    color: rgb(196, 55, 55);

}