.header{
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.form{
    margin-top: 2rem;
}

.formgroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.formgroup input{
    height: 2.6rem;
    width: 20rem;
    outline: none;
    border: 1px solid #4ea8de;
    background-color: #262626;
    color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 5px;
    position: relative;
}

.submit_btn{
    height: 2.6rem;
    width: 7rem;
    border: none;
    border-radius: 5px;
    background: radial-gradient(523px at 7.1% 19.3%, rgb(147, 15, 255) 2%, rgb(5, 49, 255) 100.7%);
    color: #f2f2f2;
    margin-left: 1rem;
    font-weight: 800;
    transition: 0.2s;
}

.submit_btn i{
    margin-left: 0.5rem;
}

.submit_btn:hover{
    background: transparent;
    color: rgb(147, 15, 255);
    border: 1px solid rgb(147, 15, 255);
}

